
body {
    background: -webkit-linear-gradient(90deg, #D38312 10%, #A83279 90%);
    background: -moz-linear-gradient(90deg, #D38312 10%, #A83279 90%);
    background: -ms-linear-gradient(90deg, #D38312 10%, #A83279 90%);
    background: -o-linear-gradient(90deg, #D38312 10%, #A83279 90%);
    background: linear-gradient(90deg, #D38312 10%, #A83279 90%);

    color: white;
    margin: 0px;
    padding: 0px;
}

#title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
    background-color: black;
}

#title span {
    position: relative;
    color: white;
    font-size: 70px;
    text-shadow: black 2px 2px 0px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}

/*Center everything in the timer container*/
#timerContainer * {
    text-align: center;
}

#main {
    border-radius: 25px;
    background-color: white;
    position: absolute;
    top: 290px;
    bottom: 80px;
    left: 80px;
    right: 20%;
    padding: 40px;
    overflow-y: auto;
    color: black;
}

#presetSelection {
    border-radius: 25px;
    background-color: white;
    position: absolute;
    top: 290px;
    bottom: 80px;
    left: 82%;
    right: 80px;
    padding: 20px;
    overflow: hidden;
    color: black;
    text-align: center;
}

#presetSelection div {
    text-align: center;
    overflow-y: scroll;
    padding-right: 50px; /*Push away the scroll bar*/
    padding-left: 10px; /*Center everything since scroll bar is moved */
    height: 100%;
    width: 100%;
}

#presetSelection img {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

#timer {
    font-family: "lucida console", sans-serif;
    font-size: 70px;
}

#btnAdd {
    position: absolute;
    top: 220px;
    left: 80px;
}

#btnClear {
    position: absolute;
    top: 150px;
    left: 80px;
}

.control, #btnAdd, #btnClear {
    background-color: #44c767;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    width: 180px;
}

.control:hover, #btnAdd:hover, #btnClear:hover {
    background-color: #5cbf2a;
}

.control:active, #btnAdd:active, #btnClear:active {
    border: 2px ridge;
}

#btnPause {
    display: none;
}

:focus {
    outline: none;
}

.copy, .remove {
    -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.myButton:hover, .remove:hover {
    background-color: #eb675e;
}

#soundImage {
    position: absolute;
    cursor: pointer;
    top: 215px;
    left: 300px;
}




